body { 
  font-family: Arial, Helvetica, sans-serif;
background: url('../img/tlo.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

margin: 0;
margin-down: 250px;
}